@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.swiper{
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

.swiper-wrapper{
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
}

.swiper-slide{
    position: relative;
    width: 80% !important;
    height: 520px !important;
    text-align: center;
    padding: 4px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-slide .des {
    position: absolute;
    width: 98.5%;
    height: 98.5%;
    background: rgba(0, 0, 0, 0.59);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 8px;
    
}

.ud{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(5px, 2vw, 15px);
}
.un{
    font-weight: bolder;
    color: #fff;
}
.ur{
    font-weight: 200;
    font-style: italic;
    color: #e0e0e0;
}

.lb{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 12px;
    background-color: #fff;
    color: #222;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}
.icon{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.rate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stars{
    width: 16px;
    height: 16px;
    color: #fff;
}


.tpl{
    width: 88px;
    height: 24px;
    margin-left: 8px;
}
.tpl img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next::after, .swiper-button-prev::after{
    content: "" !important;
}
.swiper-button-next, .swiper-button-prev{
    background-color: blue;
    width: 36px !important;
    height: 36px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}
.swiper-pagination-bullet-active{
    background-color: #AAA !important;
}
.swiper-pagination-bullet{
    margin-top: 10px !important;
}